<%= form_with(model: user) do |form| %>
  <% if user.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(user.errors.count, "error") %> prohibited this user from being saved:</h2>

      <ul>
        <% user.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= form.label :name, class: "form-label" %>
    <%= form.text_field :name, class: "form-control mb-4" %>
  </div>

  <div>
    <%= form.label :email, class: "form-label" %>
    <%= form.email_field :email, class: "form-control mb-4" %>
  </div>

  <%=form.hidden_field :redirect_back, value: @redirect_back %>

  <div>
    <%= form.submit 'Login', class:  "w-100 btn btn-outline-primary" %>
  </div>
<% end %>
