<div id="<%= dom_id user %>">
  <p>
    <strong><%= t('name') %>:</strong>
    <%= user.name %>
  </p>

  <p>
    <strong><%= t('email') %>:</strong>
    <%= user.email %>
  </p>

  <p>
    <strong><%= t('role') %>:</strong>
    <%= user.role %>
  </p>
</div>
