<div style="
height: 500px;
  width: 500px;
  padding: 3rem;
  border: 2px #0d6efd solid">
  <h1
    style="
    background-color: #1C1C1C;
      color: white;
      width: 100%;
      text-align: center;
      margin-bottom: 3rem;
    ">
    Invoice
  </h1>
  <h2><%= t('appointment_details') %></h2>
  <strong><%= t('id') %> :- <span style="color: #2c3034"><%= @appointment.id %></span></strong>
  <br/>
  <strong><%= t('doctor_name') %> :- <span style="color: #2c3034"><%= @appointment.doctor.name %></span></strong>
  <br/>
  <strong><%= t('date') %> :-
    <span style="color: #2c3034"><%= "#{@appointment.start_timestamp.in_time_zone('Kolkata').today? ? 'Today' : @appointment.start_timestamp.in_time_zone('Kolkata').strftime('%a') }, #{@appointment.start_timestamp.in_time_zone('Kolkata').day.ordinalize} #{@appointment.start_timestamp.in_time_zone('Kolkata').strftime('%b')}" %></span></strong>
  <br/>
  <strong><%= t('time') %> :-
    <span style="color: #2c3034"><%= @appointment.start_timestamp.in_time_zone('Kolkata').strftime('%I : %M %p') %></span></strong>
  <br>
  <br>
  <strong><%= t('paid') %> :-
    <span style="color: green"><%= "#{@appointment.currency} #{@appointment.amount}" %> </span></strong>

  <p><%= t('you_can_check_your_details_here') %> <a href=<%= appointment_url(@appointment.id) %>><%= t('appointment') %></a></p>

  <h3 style="color:navy;"> <%= t('thank_you_visit_again') %> </h3>
</div>
