<div style="
height: 500px;
  width: 500px;
  padding: 3rem;
  border: 2px #0d6efd solid">
  <h1
    style="
    background-color: #1C1C1C;
      color: white;
      width: 100%;
      text-align: center;
      margin-bottom: 3rem;
    ">
    Invoice
  </h1>
  <h2>Appointment Details</h2>
  <strong>id :- <span style="color: #2c3034"><%= @appointment.id %></span></strong>
  <br/>
  <strong>Doctor Name :- <span style="color: #2c3034"><%= @appointment.doctor.name %></span></strong>
  <br/>
  <strong>Date :-
    <span style="color: #2c3034"><%= "#{@appointment.start_timestamp.in_time_zone('Kolkata').today? ? 'Today' : @appointment.start_timestamp.in_time_zone('Kolkata').strftime('%a') }, #{@appointment.start_timestamp.in_time_zone('Kolkata').day.ordinalize} #{@appointment.start_timestamp.in_time_zone('Kolkata').strftime('%b')}" %></span></strong>
  <br/>
  <strong>Time :-
    <span style="color: #2c3034"><%= @appointment.start_timestamp.in_time_zone('Kolkata').strftime('%I : %M %p') %></span></strong>
  <br>
  <br>
  <strong>Paid :- <span style="color: green"><%= "#{@appointment.currency} #{@appointment.amount}" %> </span></strong>

  <h3 style="color:navy;"> Thank you visit again </h3>
</div>
