<div id="<%= dom_id doctor %>">
  <div class="doctor-card">
    <div class="row align-items-center">
      <div class="col-3">
        <%= image_tag doctor.image_url, size: 70, class: 'rounded' %>
      </div>
      <div class="col w-100">
        <strong class="d-block"><%= doctor.name %></strong>
        <address class="d-block text-secondary m-0"><%= doctor.address %></address>
      </div>
    </div>
    <div class="row mt-2 align-items-center">
      <div class="col-7 pe-0" id="doctor-next-slot-div">
        <span class="text-success">Next Available - </span>
        <% if !doctor.get_next_available_slot %>
          <span class="text-secondary">No time slot available today</span>
        <% else %>
          <span class="text-secondary"><%= doctor.get_next_available_slot.in_time_zone('Kolkata').strftime('%I:%M %p') %></span>
        <% end %>

      </div>
      <div class="col-5 p-0">
        <%= link_to 'Book Visit', new_appointment_url(:doctor_id => doctor.id), class: 'btn btn-primary', id: 'doctor-book-visit-btn' %>
      </div>
    </div>
  </div>
</div>
