<p style="color: green"><%= notice %></p>

<%= render @doctor %>

<div>
  <%= link_to t('edit_this_doctor'), edit_doctor_path(@doctor) %> |
  <%= link_to t('back_to_doctors'), doctors_path %>

  <%= button_to t('destroy_this_doctor'), @doctor, method: :delete %>
</div>
