<aside class="success-page-wrapper d-flex justify-content-center align-items-center w-100">
  <div id="success-appointment-page" class="d-flex flex-column justify-content-center align-items-center bg-white">
    <%= image_tag 'success_green_tick.svg', class: 'd-block mt-4' %>
    <p class="h4 text-success fw-bold mb-3">Congratulations</p>
    <span style="font-size: 18px" class="mb-4">Appointment Booked </span>
    <span class="h3 text-primary mb-3"><%= appointment.start_timestamp.today? ? 'Today, ' : appointment.start_timestamp.strftime('%A, ') %><%= appointment.start_timestamp.day.ordinalize %><%= appointment.start_timestamp.strftime(' %B, %I:%M %p') %></span>
    <span style="color:#686868" class="mb-2">Meeting starts in</span>
    <%= render partial: 'count_down', locals: { end_time: appointment.start_timestamp } %>
  </div>
</aside>