<aside class="success-page-wrapper d-flex justify-content-center align-items-center flex-column" data-controller='fakePayment'>
  <%= render partial: 'fake_payment' %>

  <div data-fakePayment-target="successScreen" class="d-none" style="max-width: 568px; width: 100%;">
    <div id="success-appointment-page" class="d-flex flex-column justify-content-center align-items-center bg-white">
      <%= image_tag 'success_green_tick.svg', class: 'd-block mt-4' %>
      <p class="h4 text-success fw-bold mb-3">Congratulations</p>
      <span style="font-size: 18px" class="mb-4">Appointment Booked </span>
      <span class="h3 mb-3" style="color: #542EBF;"><i class="bi bi-calendar"></i> <%= appointment.start_timestamp.in_time_zone('Kolkata').today? ? 'Today, ' : appointment.start_timestamp.in_time_zone('Kolkata').strftime('%A, ') %><%= appointment.start_timestamp.in_time_zone('Kolkata').day.ordinalize %><%= appointment.start_timestamp.in_time_zone('Kolkata').strftime(' %B, %I:%M %p') %></span>
      <span style="color:#686868" class="mb-2">Meeting starts in</span>
      <%= render partial: 'count_down', locals: { end_time: appointment.start_timestamp.in_time_zone('Kolkata') } %>
    </div>
    <%= link_to 'My appointments ⮕', appointments_path, class: 'w-100 btn btn-outline-primary mt-3' %>
  </div>

</aside>