<div data-fakePayment-target="successScreen" class="d-none px-3" style="max-width: 568px; width: 100%;">
  <div id="success-appointment-page" class="d-flex flex-column justify-content-center align-items-center bg-white">
    <%= image_tag 'success_green_tick.svg', class: 'd-block mt-4' %>
    <p class="h4 text-success fw-bold mb-3">Congratulations</p>
    <span style="font-size: 18px" class="mb-4">Appointment Booked </span>
    <span id="success-appointment-datetime-span" class="mb-3"><%= image_tag "success_calendar.svg",class: 'me-2' %> <%= appointment.start_timestamp.in_time_zone('Kolkata').today? ? 'Today, ' : appointment.start_timestamp.in_time_zone('Kolkata').strftime('%A, ') %><%= appointment.start_timestamp.in_time_zone('Kolkata').day.ordinalize %><%= appointment.start_timestamp.in_time_zone('Kolkata').strftime(' %B, %I:%M %p') %></span>
    <span style="color:#686868" class="mb-2">Meeting starts in</span>
    <%= render partial: 'appointments/count_down', locals: { end_time: appointment.start_timestamp.in_time_zone('Kolkata') } %>
  </div>
  <%#= link_to "", appointments_path, class: 'w-100 btn btn-outline-primary mt-3' %>
  <button href='<%= appointments_path %>' class='w-100 btn btn-outline-primary mt-3'>
    My Appointments  <%= image_tag 'right_icon.svg' %>
  </button>
</div>
