<%= turbo_stream.replace "appointment_user_form" do %>
  <aside class="success-page-wrapper d-flex justify-content-center align-items-center flex-column">
    <div class="px-3" style="max-width: 568px; width: 100%;">
      <div id="success-appointment-page" class="d-flex flex-column justify-content-center align-items-center bg-white">
        <%= image_tag 'success_green_tick.svg', class: 'd-block mt-4' %>
        <p class="h4 text-success fw-bold mb-3"><%= t('congratulations') %></p>
        <span style="font-size: 18px" class="mb-4"><%= t('appointment_booked') %> </span>
        <span id="success-appointment-datetime-span" class="mb-3"><%= image_tag "success_calendar.svg", class: 'me-2' %> <%= appointment.start_timestamp.today? ? 'Today, ' : appointment.start_timestamp.strftime('%A, ') %><%= appointment.start_timestamp.day.ordinalize %><%= appointment.start_timestamp.strftime(' %B, %I:%M %p') %></span>
        <span style="color:#686868" class="mb-2"><%= t('meeting_starts_in') %></span>
        <%= render partial: 'appointments/count_down', locals: { end_time: appointment.start_timestamp } %>
      </div>
      <a href='<%= appointments_path %>' class='w-100 btn btn-outline-primary mt-3'>
        <%= t('my_appointments') %>  <%= image_tag 'right_icon.svg' %>
      </a>
    </div>
  </aside>
<% end %>