<div class="tab-content" id="nav-tabContent">
  <% @time_slots.each do |t, value| %>
    <div class="tab-pane fade <%= @time_slots.keys[0] == t ? "show active" : "" %>"
         id="nav-<%= t.strftime('%m%d%Y') %>"
         role="tabpanel"
         aria-labelledby="nav-<%= t.strftime('%m%d%Y') %>-tab"
         tabindex="0">
      <div class="mb-3">
        <%= image_tag 'clock.svg', class: 'me-3' %>
        <span class="fw-semibold">
          <%= t('select_a_time_for') %><span class="text-primary">
              <%= "#{t.strftime('%A, ')}#{t.day.ordinalize}#{t.strftime(', %B')}" %>
            </span>
        </span>
      </div>
      <div class="grid text-center">
        <% if !value.empty? %>
          <% value.each do |time| %>
            <%= form.radio_button :start_timestamp, time.to_i, class: 'radio-outline-input btn-check', data: { action: "input->appointment#toggleBookBtn" } %>
            <%= form.label "start_timestamp_#{time.to_i}", class: "g-col-4 radio-outline-btn" do %>
              <%= time.strftime('%I : %M %p') %>
            <% end %>
          <% end %>
        <% else %>
          <span class="g-col-12 text-secondary"> <%= t('no_available_time_slot') %></span>
        <% end %>
      </div>

    </div>
  <% end %>
</div>