<%= turbo_stream_from("Appointment - #{@tracking_id}") %>
<div class="page2-wrapper d-none justify-content-center align-items-md-center" data-appointment-target="page2" id='appointment_user_form'>
  <aside class="page2">
    <h4 class="text-center"><%= t('add_details')%> 🧑🏻</h4>
    <%= form.label :user_name, t('name'), class: "form-label" %>
    <%= form.text_field :user_name, class: "form-control mb-4", placeholder: t('enter_name'), required: true %>
    <%= form.label :user_email, t('email'), class: "form-label" %>
    <%= form.email_field :user_email, class: "form-control mb-4",
                         placeholder: t('enter_email'),
                         required: true,
                         oninvalid: "this.setCustomValidity('Please enter an valid email')",
                         onchange: "this.setCustomValidity('')"
    %>
    <%=form.hidden_field :tracking_id, value: @tracking_id %>
    <label class="form-label mb-3"><%= t('select_currency') %></label>
    <div class="grid mb-4">
      <% @allowed_currencies.each do |cur| %>
        <%= form.radio_button :currency, cur,
                              data: {
                                action: 'appointment#currencyConverter',
                                'appointment-cur-param' => cur,
                                'appointment-amount-param' => currency_converter(cur, @appointment.doctor.fees)
                              },
                              class: 'btn-check radio-outline-input' %>
        <%= form.label "currency_#{cur.downcase}", cur, class: "g-col-4 radio-outline-btn" %>
      <% end %>

    </div>
    <%= form.submit "Pay #{ @appointment.doctor.fees}INR", data: { 'appointment-target' => 'payButton' }, class: "btn btn-primary w-100" %>
  </aside>
</div>