<aside data-controller='appointment' id="new-appointment-date-aside">
  <%= form_with model: @appointment do |form| %>
    <div data-appointment-target="page1" class="page1 m-auto">
      <%= image_tag 'calender_outline.svg', class: 'me-2 mb-1' %>
      Select a date
      <br>

      <%= render partial: 'date_picker', locals: { form: form } %>

      <%= render partial: 'time_slots', locals: { form: form } %>
      <%= form.hidden_field :doctor_id, value: params[:doctor_id] %>
      <div class="text-center" id="book-appointment-btn-div">
        <span>Due to high demand, it is difficult to reschedule appointments. Please book your slot carefully!</span>
        <button data-appointment-target="bookButton" data-action="click->appointment#page_switch" type="button" class="btn btn-secondary w-100" disabled>Book
          Appointment
        </button>
      </div>
    </div>
    <%= render partial: 'user_form', locals: { form: form } %>
  <% end %>
</aside>
