<!DOCTYPE html>
<html lang="en">
<head>
  <title>DoctorAppointment</title>
  <meta name="viewport" content="width=device-width,initial-scale=1">
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>

  <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
  <%= javascript_include_tag "application", "data-turbo-track": "reload", defer: true %>
</head>

<body>
<%= render 'nav' %>
<% flash.each do |type, msg| %>
  <div class="alert alert-warning" role="alert">
    <%= msg %>
  </div>
<% end %>
<%= yield %>
</body>
</html>
